rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read and write access to all documents
    // for developers during the prototyping phase.
    // THIS IS NOT A SECURE RULE FOR PRODUCTION.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
